@page
@using WeatherApp.Model
@model WeatherApp.Pages.Forecast.ForecastCallModel
@{
	ViewData["Title"] = "Forecast";
}

<h1>Forecast</h1>

<form method="get">
	<div class="form-group">
		<div class="input-group">
			<input type="search" class="form-control" placeholder="Search by city name" asp-for="SearchTerm" />
			<div class="input-group-append">
				<button class="btn btn-outline-secondary">Search</button>
			</div>
		</div>
	</div>
</form>

@if (Model.SearchTerm.Length < 3)
{
	<b>City name should be min 3 characters</b>
}
else
{
	<table id="model" class="table table-striped table-bordered display" style="width: 100%">
		<thead>
			<tr>
				<th>City name</th>
				<th>Country</th>
				<th>Coordinates</th>
				<th>Forecast</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var city in Model.Cities)
			{
				<tr>
					<td>@city.name</td>
					<td>@city.country</td>
					<td>[@city.coord.lat, @city.coord.lon]</td>
					<td><a asp-page="./Details" asp-route-cityId=@city.id>Details</a></td>
				</tr>
			}
		</tbody>
	</table>
}

@section Scripts
{
	<environment include="Development">
		<script src="~/lib/datatables/js/jquery.dataTables.js"></script>
		<script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
		<link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/w/bs4/dt-1.10.18/datatables.min.css" />
		<script type="text/javascript" src="https://cdn.datatables.net/w/bs4/dt-1.10.18/datatables.min.js"></script>
	</environment>

	<script>
		$(document).ready(function() {
				$('#model').DataTable({
					"processing": true,
					"searching": false,
					"scrollX": true
				});
			}
		);
	</script>
}