@page
@model WeatherApp.Pages.Weather.ApiCallModel
@{
    ViewData["Title"] = "ApiCall";
}

<h1>ApiCall</h1>

<a asp-page="ApiCall" asp-page-handler="Download" class="btn btn-primary">Download Data</a>

@if (Model.RequestContent != null)
{
	foreach (var w in Model.WeatherModel.weather)
	{
		@w.id
		<br/>
		@w.description
		<br/>
		@w.main
	}
}


