@page
@model WeatherApp.Pages.Weather.WeatherCallModel
@{
	ViewData["Title"] = "Weather";
}

<h1>Weather</h1>

<form method="get">
	<div class="form-group">
		<div class="input-group">
			<input type="search" class="form-control" placeholder="Search by city name" asp-for="SearchTerm"/>
			<div class="input-group-append">
				<button class="btn btn-outline-secondary">Search</button>
			</div>
		</div>
	</div>
</form>

@if (Model.SearchTerm.Length < 3)
{
	<b>City name should be min 4 characters</b>
}
else
{
	<table class="table table-striped table-bordered">
		<thead>
		<tr>
			<th>City name</th>
			<th>Country</th>
			<th>Coordinates</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var city in Model.Cities)
		{
			<tr>
				<td>@city.name</td>
				<td>@city.country</td>
				<td>[@city.coord.lat, @city.coord.lon]</td>
				<td><a asp-page="./Details" asp-route-cityId=@city.id>Details</a></td>
			</tr>
		}
		</tbody>
	</table>
}